################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FoodTruckBot/.vs
/.vs
/FoodTruckBot/FoodTruckBot/obj
/FoodTruckBot/FoodTruckBot/bin/Debug/netcoreapp3.1
